<!DOCTYPE html>
<html lang="en">
    <head>
        ${header}
        <title>Search</title>
    </head>
    <body>
        ${nav}
        <main class="main" id="main">
            <hr>
            ${ans ? `
            ${ans.map(e=> `<div class="card"><a href="/${e.slug}">${e.title}</a></div>`).join("")}
            `: `<div class="card"><p>No Search Result Found!</p></div>` }
        </main>
        ${footer}
        <script>
            var sb = document.getElementById("searchbox");
            sb.classList.add("fl");
            document.getElementById("text").value = "${text}";
        </script>
    </body>
</html>